---
layout: default
---
<div class="blog-post">
    <h2 class="blog-post-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    <p class="blog-post-meta">{{ post.date | date: site.date_format }} by <a href="#">Christian Xiao</a></p>
    {{ content }}
</div>

{% if page.comments != false %}

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://profullstack.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}